BOT_TOKEN=
CLAUDE_API_KEY=
GOOGLE_CREDS=
SPREADSHEET_ID_1=
SPREADSHEET_ID_2=
SPREADSHEET_ID_GUIDES=
SPREADSHEET_ID_SUBS=
SPREADSHEET_ID_TRAVEL=
SPREADSHEET_ID_KNOWLEDGE=
SPREADSHEET_ID_TOURISTS=
SPREADSHEET_ID_TASKS=
SPREADSHEET_ID_MEDIA=
SPREADSHEET_ID_VISAS=
CALENDAR_WORK=
CALENDAR_FAMILY=
CALENDAR_PERSONAL=
ALLOWED_USERS=7086707589,469985712
EMAIL_USER=persefona.ya1@gmail.com
EMAIL_PASSWORD=
EMAIL_SENDER_FILTER=@cruclub.ru
